.card-img-top {
  height: 153px;
  object-fit: contain;
}

.bsize {
  width: 40%;
}

.dot-disabled {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dot-enabled {
  height: 15px;
  width: 15px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

.toast {
  position: absolute !important;
  top: 5.5rem;
  right: 1.8rem;
  z-index: 1;
}
