<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="HoneyBox interactive Webinterface">
  <meta name="author" content="Team-HoneyBox">

  <title>Honeybox Webinterface - {% block title %}{% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootsrap-custom.css') }}" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="{{ url_for('static', filename='custom/custom.css') }}" rel="stylesheet">


</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="/">HoneyBox Webinterface</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item {% if request.path == '/' %} active{% endif %}">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item {% if request.path == '/info' %} active{% endif %}">
            <a class="nav-link" href="/config">Config</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/elk">ELK-Stack</a>
          </li>
          <li class="nav-item {% if request.path == '/contact' %} active{% endif %}">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <!-- Specific page content -->
  {% block content %}{% endblock %}


  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.slim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <!-- Custom JavaScript -->
  <script src="{{ url_for('static', filename='custom/custom.js') }}"></script>

</body>

</html>