{% extends 'base.html' %}

{% block header %}
{% block title %}Config{% endblock %}
{% endblock %}


{% block headertitle %}HoneyBox Webinterface v0.1{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
    <div class="toast-header">
        <svg class="bd-placeholder-img rounded mr-2" width="20" height="20" preserveAspectRatio="xMidYMid slice"
            focusable="false" role="img">
            <rect width="100%" height="100%" fill="#007aff"></rect>
        </svg>
        <strong class="mr-auto">Notification</strong>
        <small class="text-muted"></small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        {{message}}
    </div>

</div>
</div>
</div>
{% endfor %}
{% endif %}
{% endwith %}


<div class="container mt-3">
    <h2>Configure
        {% if buttonAlive %}
        <span class="dot-enabled"></span>
        {% else %}
        <span class="dot-disabled"></span>
        {% endif %}
    </h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 my-2">
            <li class="list-group-item">Please enter the following data for configuring your Honeybox to be able
                to communicate with your ELK instance. For same settings your Honeybox has to be reachable, so please configurate
                the system from top to bottom.
            </li>
        </div>
    </div>
</div>

<div class="container mt-3">
    <h4>General</h4>
    <p>IP address of the Raspberry Pi containing the Honeybox software.
        You've probably installed on this system the image we have provided.
        Please enter the IP so that we can send commands and get information from your Honeybox.
    </p>
    <form action="" method="post">
        IP address of the Pi (Honeybox):<br>
        <input type="text" name="ip-pi" value="{{ hostname }}"><br><br>
        <button type="submit" class="btn btn-danger" name="action" value="set-pi-ip">Submit IP</button>
    </form>
</div>

<hr class="linie-1">

<div class="container mt-3 mb-3">
    <h4>Use key pairs for SSH</h4>
    <form action="" method="post">
        <p>We need a public key and the private key of your server (Webinterface and ELK) for securely communicating via SSH with your Honeybox.</p>
        <p>Pressing the button creates an ed25519 key and copies it onto your Honeybox (Raspberry Pi). <b>This proccess is irreversible!</b></p>
        {% if buttonAlive %}
        <button type="submit" class="btn btn-danger" name="action" value="set-pk">Switch to keys</button><br><br>
        {% else %}
        <button type="submit" disabled class="btn btn-danger" name="action" value="set-pk">Switch to keys</button><br><br>
        {% endif %}
    </form>
    {% if (honeyboxKeys[0] != None) and (honeyboxKeys[1] != None) %}
        <h5>Generated keys</h5>
        Public key:<br>
        <textarea name="text" id="pk-pub" cols="120" rows="1">{{ honeyboxKeys[0] }}</textarea><br>
        Private key:<br>
        <textarea id="text" name="pk-priv" cols="100" rows="4">{{ honeyboxKeys[1] }}</textarea><br><br>
    {% endif %}
    </div>
</div>

<hr class="linie-1">

<!-- Create PW and certs, change ports -->
<div class="container mt-3 mb-3">
    <h4>ELK-Server</h4>
    <p>We need to set several parameters both for the Pi (Honeybox) and this server (ELK instance).
        Please configure everything below and if you're finish then click on the "Config Pi"-button to push the Pi-needed settings to the Pi.</p>

    <h5>Ports</h5>
    <p>Here you can set the ports for Elasticsearch, Kibana and Logstash.
        The process will automatically set the services to the values you've provided and use them for the following communication.
    </p>
    <form action="" method="post">

        Port Elasticsearch (server):<br>
        <input type="text" name="port-elasticsearch" size="2" value="{{ elasticPort }}"><br><br>
        Port Kibana (server):<br>
        <input type="text" name="port-kibana" size="2" value="{{ kibanaPort }}"><br><br>
        Port Logstash (server):<br>
        <input type="text" name="port-logstash" size="2" value="{{ logstashPort }}"><br><br>

        {% if buttonAlive %}
        <button type="submit" class="btn btn-danger" name="action" value="set-ports">Set Ports</button><br><br>
        {% else %}
        <button type="submit" disabled class="btn btn-danger" name="action" value="set-ports">Set Ports</button><br><br>
        {% endif %}

    </form>


    <h5>Hostname</h5>
    <p>Set the IP/ hostname of the server and enable/ disable HTTPS.</p>
    <p><b>Be aware:</b> HTTPS can/ will only be set if you're using a hostname.</p>
    <form action="" method="post">

        Using:<br>
        <input type="radio" name="elk-server" value="ipv4" checked> ipv4<br>
        <input type="radio" name="elk-server" value="hostname"> hostname<br>
        IPv4 adress or hostname (server):<br>
        <input type="text" name="ip-server" size="35" value="192.168.0.200 or www.elk.example.com"><br><br>

        Use https:<br>
        <input type="radio" name="elk-https" value="on"> https<br>
        <input type="radio" name="elk-https" value="off" checked> http<br><br>

        {% if buttonAlive %}
        <button type="submit" class="btn btn-danger" name="action" value="set-host">Set Host</button><br><br>
        {% else %}
        <button type="submit" disabled class="btn btn-danger" name="action" value="set-host">Set Host</button><br><br>
        {% endif %}

    </form>

    <h5>Auth</h5>
    <p>Create and set auth password.</p> 
    <p>Shows the current password for manually using Kibana if auth is enabled.</p>
    <form action="" method="post">

        {% if elasticpw != None %}
            Kibana user:<br>
            <textarea name="text" id="elasticuser" cols="40" rows="1">elastic</textarea><br>
            Kibana password:<br>
            <textarea name="text" id="elasticpw" cols="40" rows="1">{{ elasticpw }}</textarea><br><br>
        {% endif %}

        {% if buttonAlive %}
        <button type="submit" class="btn btn-danger" name="action" value="set-auth">Set Auth</button><br><br>
        {% else %}
        <button type="submit" disabled class="btn btn-danger" name="action" value="set-auth">Set Auth</button><br><br>
        {% endif %}

    </form>


    <h5>Telegram Alerts</h5>
    <p>Set Bot Token and the room ID to be able to get alerts via Telegram.</p>
    <p>The bot token format: 111111111:aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
        The room ID format: -222222222</p>
    <form action="" method="post">

        Bot Token:<br>
        <input type="text" name="bot-token" size="35" value="{{ botToken }}"><br><br>
        Room ID:<br>
        <input type="text" name="room-id" size="35" value="{{ roomID }}"><br><br>

        {% if buttonAlive %}
        <button type="submit" class="btn btn-danger" name="action" value="set-telegram">Set Telegram</button><br><br>
        {% else %}
        <button type="submit" disabled class="btn btn-danger" name="action" value="set-telegram">Set Telegram</button><br><br>
        {% endif %}

    </form>
</div>

<hr class="linie-1">


<!-- Push settings from conf file to Pi -->
<div class="container mt-3 mb-3">
    <h4>Config Pi</h4>
    <p>Send config data to the Pi.
    </p>
    <form action="" method="post">

        <!-- does not work - docker ;( -->
        <!-- check if hostname, if not (und auch nicht localhost) dann ip -->
        <!-- hostname if https on - try autodetect -->
        <!-- ip or hostname if https off - try autodetect -->


        <!-- ip oder hostname (mit subdomain z.B. www.web.elk.de) -->
        <!-- radio oder checkbox für https (nicht bei IP!) oder http -->
        <!-- radio/ checkbox für auth an (user name und pw angeben) oder aus (default schon 0 drin) -->


        <!-- Using:<br>
        <input type="radio" name="elk-server" value="ipv4" checked> ipv4<br>
        <input type="radio" name="elk-server" value="hostname"> hostname<br>
        IPv4 adress or hostname (server):<br>
        <input type="text" name="ip-server" size="35" value="192.168.0.200 or www.elk.example.com"><br><br>
        Port Elasticsearch (server):<br>
        <input type="text" name="port-elasticsearch" size="2" value="9200"><br><br>
        Port Kibana (server):<br>
        <input type="text" name="port-kibana" size="2" value="5601"><br><br>
        Port Logstash (server):<br>
        <input type="text" name="port-logstash" size="2" value="5044"><br><br>

        Use https:<br>
        <input type="radio" name="elk-https" value="on"> https<br>
        <input type="radio" name="elk-https" value="off"> http<br><br>

        Use auth:<br>
        <input id="auth-on" type="radio" name="elk-auth" value="on"> on<br>
        <input id="auth-off" type="radio" name="elk-auth" value="off"> off<br><br> -->

        {% if buttonAlive %}
        <button type="submit" class="btn btn-danger" name="action" value="config-pi">Config Pi</button><br><br>
        {% else %}
        <button type="submit" disabled class="btn btn-danger" name="action" value="config-pi">Config Pi</button><br><br>
        {% endif %}
    </form>
</div>


{% endblock %}