{% extends 'base.html' %}

{% block header %}
{% block title %}Control{% endblock %}
{% endblock %}


{% block headertitle %}Quick shortcut buttons{% endblock %}

{% block content %}

<!-- TODO: change to beautiful bootstrap modal -->
<!-- needs js that triggers if message is available -->
<!-- sth like that: https://stackoverflow.com/questions/35965321/flashing-message-in-flask-on-a-bootstrap-modal -->
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-dark text-center" role="alert">
  {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<section class="my-5">
  <div class="container">
    <div class="row mx-1">
      <div class="col-md-8 mx-auto p-2 text-center">
        <div class="text-white">
          <form action="" method="post">
            <button name="cmd" id="btn_serv_start_all" value="start-all" class="btn btn-success"
              onclick="spinUpdate(this.id);">Start all services</button>
            <button name="cmd" id="btn_serv_stop_all" value="stop-all" class="btn btn-danger"
              onclick="spinUpdate(this.id);">Stop all services</button>
          </form>
        </div>
      </div>
      <div class="col-md-8 mx-auto p-2 text-center">
        <div class="text-white">
          <form action="" method="post">
            <button name="cmd" id="btn_serv_start_mariadb" value="start-mariadb" class="btn btn-success"
              onclick="spinUpdate(this.id);">Start MariaDB</button>
            <button name="cmd" id="btn_serv_start_mosquitto" value="start-mosquitto" class="btn btn-success"
              onclick="spinUpdate(this.id);">Start Mosquitto</button>
            <button name="cmd" id="btn_serv_start_snmpd" value="start-snmpd" class="btn btn-success"
              onclick="spinUpdate(this.id);">Start snmpd</button>
            <button name="cmd" id="btn_serv_stop_mariadb" value="stop-mariadb" class="btn btn-danger"
              onclick="spinUpdate(this.id);">Stop MariaDB</button>
            <button name="cmd" id="btn_serv_stop_mosquitto" value="stop-mosquitto" class="btn btn-danger"
              onclick="spinUpdate(this.id);">Stop Mosquitto</button>
            <button name="cmd" id="btn_serv_stop_snmpd" value="stop-snmpd" class="btn btn-danger"
              onclick="spinUpdate(this.id);">Stop snmpd</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="mx-auto">
        <ul class="list-group list-group-flush">
          <!-- from flask -->
          <li class="list-group-item"><b>Date:</b> {{ date }}</li>
          <li class="list-group-item"><b>Interface:</b> {{ interface }}</li>
          <!-- from Honeybox via SSH -->
          <li class="list-group-item"><b>Kernel:</b> {{ statVars['kernel'][0] if statVars != None else "n/a" }}</li>
          <li class="list-group-item"><b>IPv4:</b> {{ statVars['ipv4'][0] if statVars != None else "n/a" }}</li>
          <li class="list-group-item"><b>MAC-Address:</b> {{ statVars['mac'][0] if statVars != None else "n/a" }}</li>
          <li class="list-group-item"><b>Uptime:</b> {{ statVars['uptime'][0] if statVars != None else "n/a" }}</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="my-5">
  <div class="container">
    <div class="row mx-1">
      <div class="col-md-8 mx-auto p-2 text-center" style="border:1px solid #cecece;">
        <form action="" method=" post">
          {% if buttonAlive %}
          <button name="cmd" value="" class="btn btn-success btn-lg btn-block status-check">Status: Online ✔</button>
          {% else %}
          <button name="cmd" value="" class="btn btn-secondary btn-lg btn-block status-check">Status: Offline ❌</button>
          {% endif %}
        </form>
        <hr>
        <div class="text-white">
          <form action="" method="post">
            <button name="cmd" id="btn_ctrl_off" value="off" class="btn btn-danger" id="btn_poweroff"
              onclick="spinUpdate(this.id);">Power Off</button>
            <button name="cmd" id="btn_ctrl_reboot" value="reboot" class="btn btn-danger" id="btn_reboot"
              onclick="spinUpdate(this.id);">Reboot</button>
            <button name="cmd" id="btn_ctrl_update" value="update" class="btn btn-primary" id="btn_update"
              onclick="spinUpdate(this.id);">Update
              Linux</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto mt-4 text-center">
        <p>This dashboard allows you to control some of the core functionality of your deployed Honeybox. As long as
          your SSH settings are correct, you should be able to reboot, shutdown or update your Raspberry Pi. You can
          also see if your device is actually reachable in the network.</p>
      </div>
    </div>
  </div>
</section>

{% endblock %}