{% extends 'base.html' %}

{% block header %}
{% block title %}Home{% endblock %}
{% endblock %}


{% block headertitle %}HoneyBox Webinterface v0.1{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
  <div class="toast-header">
    <svg class="bd-placeholder-img rounded mr-2" width="20" height="20" preserveAspectRatio="xMidYMid slice"
      focusable="false" role="img">
      <rect width="100%" height="100%" fill="#007aff"></rect>
    </svg>
    <strong class="mr-auto">Notification</strong>
    <small class="text-muted"></small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    {{message}}
  </div>

</div>
</div>
</div>
{% endfor %}
{% endif %}
{% endwith %}


<div class="container mt-3">
  <h2>System
    {% if buttonAlive %}
    <span class="dot-enabled"></span>
    {% else %}
    <span class="dot-disabled"></span>
    {% endif %}
  </h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 my-2">
      <li class="list-group-item"><b>Date:</b> {{ date }}</li>
      <li class="list-group-item"><b>Interface:</b> {{ interface }}</li>
      <li class="list-group-item"><b>Kernel:</b> {{ statVars['kernel'][0] if statVars != None else "n/a" }}</li>
    </div>
    <div class="col-md-4 my-2">
      <li class="list-group-item"><b>IPv4:</b> {{ statVars['ipv4'][0] if statVars != None else "n/a" }}</li>
      <li class="list-group-item"><b>MAC-Address:</b> {{ statVars['mac'][0] if statVars != None else "n/a" }}</li>
      <li class="list-group-item"><b>Uptime:</b> {{ statVars['uptime'][0] if statVars != None else "n/a" }}</li>
    </div>
    <div class="col-md-4 my-2 text-center">
      <form action="" method="post">

        <button name="cmd" id="btn_ctrl_off" value="off" class="m-1 btn btn-danger bsize" id="btn_poweroff"
          onclick="spinUpdate(this.id);">Shutdown</button><br>

        <button name="cmd" id="btn_ctrl_reboot" value="reboot" class="m-2 btn btn-danger bsize" id="btn_reboot"
          onclick="spinUpdate(this.id);">Reboot</button><br>

        <button name="cmd" id="btn_ctrl_update" value="update" class="m-1 btn btn-primary bsize" id="btn_update"
          onclick="spinUpdate(this.id);">Update</button>

      </form>
    </div>
  </div>
</div>

<hr class="linie-1">

<div class="container my-3">
  <h2 class="d-inline">Services
    <form action="" method="post" class="d-inline pl-1">
      <button name="cmd" id="btn_serv_start_all" value="start-all" class="btn btn-success btn-sm"
        onclick="spinUpdate(this.id);">Start all</button>
      <button name="cmd" id="btn_serv_stop_all" value="stop-all" class="btn btn-danger btn-sm"
        onclick="spinUpdate(this.id);">Stop all</button>
      <button name="cmd" id="btn_serv_reset_all" value="reset-all" class="btn btn-dark btn-sm"
        onclick="spinUpdate(this.id);">Reset all</button>
    </form>
  </h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3 text-center my-2">
      <div class="card">
        <a href="/mysql">
          <img src={{ url_for('static', filename='images/mysql.png') }} class="card-img-top" alt="MySQL">
        </a>
        <div class="card-body">
          <h5 class="card-title">MySQL
            {% if statVars != None and statVars['check-mariadb'][0] %}
            <span class="ml-1 dot-enabled"></span>
            {% else %}
            <span class="ml-1 dot-disabled"></span>
            {% endif %}
          </h5>
          <hr>
          <p>Port: 80, 3306</p>
          <form action="" method="post">
            <button name="cmd" id="btn_serv_start_mariadb" value="start-mariadb" class="btn btn-success"
              onclick="spinUpdate(this.id);">Start</button>
            <button name="cmd" id="btn_serv_stop_mariadb" value="stop-mariadb" class="btn btn-danger"
              onclick="spinUpdate(this.id);">Stop</button>
            <button name="cmd" id="btn_serv_reset_mariadb" value="reset-mariadb" class="btn btn-dark"
              onclick="spinUpdate(this.id);">Reset</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-3 text-center my-2">
      <div class="card">
        <a href="/snmp">
          <img src={{ url_for('static', filename='images/snmp.png') }} class="card-img-top" alt="SNMP">
        </a>
        <div class="card-body">
          <h5 class="card-title">SNMP
            {% if statVars != None and statVars['check-snmpd'][0] %}
            <span class="ml-1 dot-enabled"></span>
            {% else %}
            <span class="ml-1 dot-disabled"></span>
            {% endif %}
          </h5>
          <hr>
          <p>Port: 161</p>
          <form action="" method="post">
            <button name="cmd" id="btn_serv_start_snmpd" value="start-snmpd" class="btn btn-success"
              onclick="spinUpdate(this.id);">Start</button>
            <button name="cmd" id="btn_serv_stop_snmpd" value="stop-snmpd" class="btn btn-danger"
              onclick="spinUpdate(this.id);">Stop</button>
            <button name="cmd" id="btn_serv_reset_snmpd" value="reset-snmpd" class="btn btn-dark"
              onclick="spinUpdate(this.id);">Reset</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-3 text-center my-2">
      <div class="card">
        <a href="/mqtt">
          <img src={{ url_for('static', filename='images/mqtt.png') }} class="card-img-top" alt="MQTT">
        </a>
        <div class="card-body">
          <h5 class="card-title">MQTT
            {% if statVars != None and statVars['check-mosquitto'][0] %}
            <span class="ml-1 dot-enabled"></span>
            {% else %}
            <span class="ml-1 dot-disabled"></span>
            {% endif %}
          </h5>
          <hr>
          <p>Port: 1883</p>
          <form action="" method="post">
            <button name="cmd" id="btn_serv_start_mosquitto" value="start-mosquitto" class="btn btn-success"
              onclick="spinUpdate(this.id);">Start</button>
            <button name="cmd" id="btn_serv_stop_mosquitto" value="stop-mosquitto" class="btn btn-danger"
              onclick="spinUpdate(this.id);">Stop</button>
            <button name="cmd" id="btn_serv_reset_mosquitto" value="reset-mosquitto" class="btn btn-dark"
              onclick="spinUpdate(this.id);">Reset</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-3 text-center my-2">
      <div class="card">
        <a href="/ssh">
          <img src={{ url_for('static', filename='images/ssh.png') }} class="card-img-top" alt="SSH">
        </a>
        <div class="card-body">
          <h5 class="card-title">SSH
            {% if statVars != None and statVars['check-ssh'][0] %}
            <span class="ml-1 dot-enabled"></span>
            {% else %}
            <span class="ml-1 dot-disabled"></span>
            {% endif %}
          </h5>
          <hr>
          <p>Port: 22</p>
          <form action="" method="post">
            <button name="cmd" id="btn_serv_start_ssh" value="start-ssh" class="btn btn-success"
              onclick="spinUpdate(this.id);">Start</button>
            <button name="cmd" id="btn_serv_stop_ssh" value="stop-ssh" class="btn btn-danger"
              onclick="spinUpdate(this.id);">Stop</button>
            <button name="cmd" id="btn_serv_reset_ssh" value="reset-ssh" class="btn btn-dark"
              onclick="spinUpdate(this.id);">Reset</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="linie-1">

<div class="container my-3">
  <h2 class="d-inline">Beats
    <form action="" method="post" class="d-inline pl-1">
      <button name="cmd" id="btn_beats_start" value="start-beats" class="btn btn-success btn-sm"
        onclick="spinUpdate(this.id);">Start</button>
      <button name="cmd" id="btn_beats_stop" value="stop-beats" class="btn btn-danger btn-sm"
        onclick="spinUpdate(this.id);">Stop</button>
      <!-- <button name="cmd" id="btn_serv_reset_all" value="reset-all" class="btn btn-dark btn-sm"
        onclick="spinUpdate(this.id);">Reset all</button> -->
    </form>
  </h2>
</div>

<hr class="linie-1">

<div class="container my-3">
  <h2 class="d-inline">Logs</h2>
</div>
<div class="container my-2">
  <li class="list-group-item">
    <!-- Desktop view -->
    <p class="mb-0 overflow-auto d-none d-lg-block" style="max-height: 12vh;">
      {% if sudoElastic is not none %}   
        {% for message in sudoElastic %}
          {{ message["_source"]["message"] }}
          {%- if not loop.last -%}
            </br>
          {% endif %}
        {% endfor %}
      {% else %}
            n/a - elasticsearch seems down
      {% endif %}
    </p>
    <!-- Mobile view -->
    <p class="mb-0 d-lg-none overflow-auto" style="max-height: 50vh;">
        {% if sudoElastic is not none %}   
          {% for message in sudoElastic %}
            {{ message["_source"]["message"] }}
            {%- if not loop.last -%}
              </br>
            {% endif %}
          {% endfor %}
        {% else %}
              n/a - elasticsearch seems down
        {% endif %}
      </p>
  </li>
</div>

{% endblock %}