{% extends 'base.html' %}

{% block header %}
{% block title %}Info{% endblock %}
{% endblock %}


{% block headertitle %}Status information{% endblock %}

{% block content %}

<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="mx-auto">
        <ul class="list-group list-group-flush">
          <!-- from flask -->
          <li class="list-group-item"><b>Date:</b> {{ date }}</li>
          <li class="list-group-item"><b>Interface:</b> {{ interface }}</li>
          <!-- from Honeybox via SSH -->
          <li class="list-group-item"><b>Kernel:</b> {{ statVars['kernel'][0] if statVars != None else "n/a" }}</li>
          <li class="list-group-item"><b>IPv4:</b> {{ statVars['ipv4'][0] if statVars != None else "n/a" }}</li>
          <li class="list-group-item"><b>MAC-Address:</b> {{ statVars['mac'][0] if statVars != None else "n/a" }}</li>
          <li class="list-group-item"><b>Uptime:</b> {{ statVars['uptime'][0] if statVars != None else "n/a" }}</li>
        </ul>
      </div>
    </div>
  </div>
</section>

{% endblock %}