{% extends 'base.html' %}

{% block header %}
{% block title %}MySQL{% endblock %}
{% endblock %}


{% block headertitle %}HoneyBox Webinterface v0.1{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
    <div class="toast-header">
        <svg class="bd-placeholder-img rounded mr-2" width="20" height="20" preserveAspectRatio="xMidYMid slice"
            focusable="false" role="img">
            <rect width="100%" height="100%" fill="#007aff"></rect>
        </svg>
        <strong class="mr-auto">Notification</strong>
        <small class="text-muted"></small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        {{message}}
    </div>

</div>
</div>
</div>
{% endfor %}
{% endif %}
{% endwith %}


<div class="container mt-3">
    <h2>MySQL
        {% if buttonAlive %}
        <span class="dot-enabled"></span>
        {% else %}
        <span class="dot-disabled"></span>
        {% endif %}
        <div class="float-right">
            <form action="" method="post">
                <button name="cmd" id="btn_serv_start_mariadb" value="start-mariadb" class="btn btn-sm btn-success"
                    onclick="spinUpdate(this.id);">Start</button>
                <button name="cmd" id="btn_serv_stop_mariadb" value="stop-mariadb" class="btn btn-sm btn-danger"
                    onclick="spinUpdate(this.id);">Stop</button>
                <button name="cmd" id="btn_serv_update_mariadb" value="update-mariadb" class="btn btn-sm btn-primary"
                    onclick="spinUpdate(this.id);">Update</button>
                <button name="cmd" id="btn_serv_reset_mariadb" value="reset-mariadb" class="btn btn-sm btn-dark"
                    onclick="spinUpdate(this.id);">Reset</button>
            </form>
        </div>
    </h2>
</div>

<!-- TODO: Fix mobile breakout -->
<div class="container">
    <div class="row">
        <div class="col-md-12 my-2">
            <li class="list-group-item">A SQL server is one of the more widely used solutions for storing data in a
                relational database. With software deployments in the cloud becoming more and more popular, such data
                has to be made accessible worldwide, to easily provide access to it and enable companies to scale their
                deployments accordingly. Similiar to our other services we would like to gauge the dangers of such a
                publicly available SQL service, and to see how much (confidental) data actually gets exposed.
            </li>
        </div>
    </div>
</div>

<hr class="linie-1">

<div class="container my-3">
  <h2 class="d-inline">Logs</h2>
</div>
<div class="container my-2">
  <li class="list-group-item">

    <!-- Desktop view -->
    <p class="mb-0 overflow-auto d-none d-lg-block" style="max-height: 50vh;">
      {% if outputElastic is not none %}   
        {% for hit in outputElastic %}
          {{ hit["_source"]["@timestamp"] }} : {{ hit["_source"]["Warning"] }}
          {%- if not loop.last -%}
            </br>
          {% endif %}
        {% endfor %}
      {% else %}
            n/a - elasticsearch seems down
      {% endif %}
    </p>

    <!-- Mobile view -->
    <p class="mb-0 d-lg-none overflow-auto" style="max-height: 25vh;">
    {% if outputElastic is not none %}   
        {% for hit in outputElastic %}
        {{ hit["_source"]["@timestamp"] }} : {{ hit["_source"]["Warning"] }}
          {%- if not loop.last -%}
            </br>
          {% endif %}
        {% endfor %}
      {% else %}
            n/a - elasticsearch seems down
      {% endif %}
    </p>
  </li>
</div>

{% endblock %}