{% extends 'base.html' %}

{% block header %}
{% block title %}Services{% endblock %}
{% endblock %}


{% block headertitle %}Quick shortcut buttons{% endblock %}

{% block content %}

<!-- TODO: change to beautiful bootstrap modal -->
<!-- needs js that triggers if message is available -->
<!-- sth like that: https://stackoverflow.com/questions/35965321/flashing-message-in-flask-on-a-bootstrap-modal -->
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-dark text-center" role="alert">
  {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<section class="my-5">
  <div class="container">
    <div class="row mx-1">
      <div class="col-md-8 mx-auto p-2 text-center">
        <div class="text-white">
          <form action="" method="post">
            <button name="cmd" id="btn_serv_start_all" value="start-all" class="btn btn-success"
              onclick="spinUpdate(this.id);">Start all services</button>
            <button name="cmd" id="btn_serv_stop_all" value="stop-all" class="btn btn-danger"
              onclick="spinUpdate(this.id);">Stop all services</button>
          </form>
        </div>
      </div>
      <div class="col-md-8 mx-auto p-2 text-center">
        <div class="text-white">
          <form action="" method="post">
            <button name="cmd" id="btn_serv_start_mariadb" value="start-mariadb" class="btn btn-success"
              onclick="spinUpdate(this.id);">Start MariaDB</button>
            <button name="cmd" id="btn_serv_start_mosquitto" value="start-mosquitto" class="btn btn-success"
              onclick="spinUpdate(this.id);">Start Mosquitto</button>
            <button name="cmd" id="btn_serv_start_snmpd" value="start-snmpd" class="btn btn-success"
              onclick="spinUpdate(this.id);">Start snmpd</button>
            <button name="cmd" id="btn_serv_stop_mariadb" value="stop-mariadb" class="btn btn-danger"
              onclick="spinUpdate(this.id);">Stop MariaDB</button>
            <button name="cmd" id="btn_serv_stop_mosquitto" value="stop-mosquitto" class="btn btn-danger"
              onclick="spinUpdate(this.id);">Stop Mosquitto</button>
            <button name="cmd" id="btn_serv_stop_snmpd" value="stop-snmpd" class="btn btn-danger"
              onclick="spinUpdate(this.id);">Stop snmpd</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}