{% extends 'base.html' %}

{% block header %}
{% block title %}SNMP{% endblock %}
{% endblock %}


{% block headertitle %}HoneyBox Webinterface v0.1{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
    <div class="toast-header">
        <svg class="bd-placeholder-img rounded mr-2" width="20" height="20" preserveAspectRatio="xMidYMid slice"
            focusable="false" role="img">
            <rect width="100%" height="100%" fill="#007aff"></rect>
        </svg>
        <strong class="mr-auto">Notification</strong>
        <small class="text-muted"></small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        {{message}}
    </div>

</div>
</div>
</div>
{% endfor %}
{% endif %}
{% endwith %}


<div class="container mt-3">
    <h2>SNMP
        {% if buttonAlive %}
        <span class="dot-enabled"></span>
        {% else %}
        <span class="dot-disabled"></span>
        {% endif %}
        <div class="float-right">
            <form action="" method="post">
                <button name="cmd" id="btn_serv_start_snmpd" value="start-snmpd" class="btn btn-sm btn-success"
                    onclick="spinUpdate(this.id);">Start</button>
                <button name="cmd" id="btn_serv_stop_snmpd" value="stop-snmpd" class="btn btn-sm btn-danger"
                    onclick="spinUpdate(this.id);">Stop</button>
                <button name="cmd" id="btn_serv_update_snmpd" value="update-snmpd" class="btn btn-sm btn-primary"
                    onclick="spinUpdate(this.id);">Update</button>
                <button name="cmd" id="btn_serv_reset_snmpd" value="reset-snmpd" class="btn btn-sm btn-dark"
                    onclick="spinUpdate(this.id);">Reset</button>
            </form>
        </div>
    </h2>
</div>

<!-- TODO: Fix mobile breakout -->
<div class="container">
    <div class="row">
        <div class="col-md-12 my-2">
            <li class="list-group-item">The Simple Network Management Protocol is a protocol which already exists for quite a while and is used, 
              as the name implies, to manage different types of devices in a network (e.g. switches). Therefore it supports two main types of messages. 
              The GET-message is used to get a specific information from a device (e.g. IP address, uptime, MAC etc.). There is also the walk-message 
              which works like a multi get. The second main message is the SET-message which makes it possible to set some specific values on a device.
            </li>
        </div>
    </div>
</div>

<hr class="linie-1">

<div class="container my-3">
  <h2 class="d-inline">Logs</h2>
</div>
<div class="container my-2">
  <li class="list-group-item">
    <!-- ADD LOGS VIA ELASTICSEARCH REQUEST -->
  </li>
</div>

{% endblock %}